#include "resources.h"
#include "winres.h"

IDR_RT_RCDATA1          RCDATA                  "..\\drivers\\2_7\\DBUtilDrv2.cat"
IDR_RT_RCDATA2          RCDATA                  "..\\drivers\\2_7\\dbutildrv2.inf"
IDR_RT_RCDATA3          RCDATA                  "..\\drivers\\2_7\\DBUtilDrv2.sys"
IDR_RT_RCDATA4          RCDATA                  "..\\drivers\\2_7\\WdfCoInstaller01009.dll"
IDR_RT_RCDATA5          RCDATA                  "..\\drivers\\2_5\\DBUtilDrv2.cat"
IDR_RT_RCDATA6          RCDATA                  "..\\drivers\\2_5\\dbutildrv2.inf"
IDR_RT_RCDATA7          RCDATA                  "..\\drivers\\2_5\\DBUtilDrv2.sys"
